html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,
    Helvetica Neue, Segoe UI, Hiragino Kaku Gothic ProN,
    Hiragino Sans, ヒラギノ角ゴ ProN W3, Arial, メイリオ,
    Meiryo, sans-serif;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
* {
  box-sizing: border-box;
}
